/* FONTS -----------------------------*/
/* font-family: 'Raleway', sans-serif;

font-family: 'Open Sans', sans-serif; 
-------------------------------------*/



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #08A6E4;
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
    --color-primary-shadow: rgba(7, 172, 230, .16);

}


/* ------------- MENU ------------*/

.header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    width: 100vw;
    height: 70px;
    box-shadow: 0 0 5px #000000;
    background-color: var(--color-white);
    z-index: 9999999;
}

.menu {
    display: flex;
    margin: 0 auto;
    width: 1352px;
    background-color: #FFFFFF;
    height: 100%;
}

.menu__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.menu__logo {
    text-decoration: none;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    color: var(--color-primary);
    font-size: 32px;
    cursor: pointer;
}

.menu__nav {
    display: flex;
    align-items: center;
    height: 70px;

}

.menu__nav ul {
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 11;
    font-weight: bold;
    text-transform: uppercase;
}

.menu__nav ul li {
    display: inline;
    height: 70px;
}

.menu__nav a {
    text-decoration: none;
    color: var(--color-grey);
    padding: 8px;
    margin-left: 100px;
    transition: .5s;
    height: 70px;

    /* border: 2px solid red; */
}

.menu__nav a:hover {
    color: var(--color-black);
    border-bottom: 3px solid var(--color-primary);
    border-radius: 2px;
}

.menu__nav-clicked {
    color: black;
}


/* -----MAIN----- */

main {
    height: 712px;
    background: url(../images/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: calc(200px - 70px);
    position: relative;
}

/* .main::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: 0, 0, 0, 0.5;
} */

.bg {
    text-align: center;
}


.bg__title {
    font-size: 49px;
    color: var(--color-black);
    font-family: 'Raleway', sans-serif;
    font-weight: regular;
    margin-bottom: 20px;
}

.bg_text {
    font-size: 16px;
    color: var(--color-black);
    font-family: 'Open Sans', sans-serif;
    font-weight: regular;
}

.bg__button {
    width: 440px;
    height: 67px;
    background-color: var(--color-primary);
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: var(--color-white);
    border: none;
    border-radius: 40px;
    box-shadow: 5px 10px 14px #07ACE629;
    margin-top: 120px;

    /* Nie wiem dlaczego nie dziala */
    cursor: pointer;
    transition: .3;
}

.bg__button:hover {
    background-color: var(--color-white);
    color: var(--color-green);
    cursor: pointer;
}


/* -----SECTION----- */

.section {
    width: 100%;
    height: 531px;
}

.section__container {
    width: 800px;
    height: 531px;
    margin: 0 auto;
}

.section__text-p {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: regular;
    font-size: 36px;
    color: var(--color-black);
    padding-top: 100px;

}

.section__dots {}

.dots__ins {}

.section__dots {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding-top: 100px;
}

.dots__ins {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.dots__ins::before {
    position: absolute;
    content: "";
    top: 5%;
    left: 25%;
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    z-index: -1;
}


.dots__ins .dot__title {
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 5.96px;
    margin-bottom: 30px;
}

.dots__ins .dot__text {
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
    color: var(--color-grey);
}


/* -----SECTION _ INFO----- */

.section__info {
    background-color: var(--color-light-grey);
}

.section__info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 1124px;
    height: 1395px;

}

.section__info-first {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1124px;
    height: 370px;
    background-color: var(--color-white);
}

.info__flex {
    width: 416px;
    height: 188px;
}

.info__title {
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 10px;
}

.info__text {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 30px;
    border-bottom: 2px solid var(--color-redish);
}

.info__img {}

.info__img img {
    width: 386px;
}

.section_bottom-left {
    width: 623px;
    height: 370px;
}

.bottom_picture {
    position: relative;
    width: 440px;
    height: 370px;
    background-color: var(--color-green);
}

.bottom_picture img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 207px;
    width: 295px;
}

.section__middle {
    flex-direction: row-reverse;

}

.mackbook_bg {
    position: relative;
    z-index: 1;
}

.mackbook_bg::after {
    position: absolute;
    content: "";
    top: -10%;
    left: 65%;
    width: 150px;
    height: 150px;
    background-color: var(--color-redish);
    border-radius: 20%;
    transform: rotate(45deg);
    z-index: -1;
}


.iphone_bg {
    position: relative;
    z-index: 1;
}


.iphone_bg::after {
    position: absolute;
    content: "";
    top: -30px;
    left: -60px;
    width: 300px;
    height: 300px;
    background-color: var(--color-primary);
    border-radius: 50%;
    z-index: -1;
}

.info__text-blue {
    border-bottom: 2px solid var(--color-primary);
}

.info__text-green {
    border-bottom: 2px solid var(--color-green);
}

.section_bottom-left {
    display: flex;
    width: 1124px;
}


.flex__bottom-left {
    width: 300px;
    height: 370px;
}

.bottom_picture {
    margin-left: 50px;
}

/* -----PRICES----- */

.section_prices {
    width: 100%;
}

.prices__container {
    width: 1266px;
    margin: 0 auto;
    text-align: center;
    background-color: var(--color-white);

}

.pricing {
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
    color: var(--color-black);
    font-weight: lighter;
    padding-top: 50px;
}

.table__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1266px;
    margin: 0 auto;
    padding: 50px 0 100px 0;

}

.prices__tables {
    position: relative;
    width: 372px;
    height: 461px;
    border: 1px solid #FB3B64;
    border-radius: 18px;
}


.prices__tables::before {
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translate(-50%, 0);
    content: "";
    width: 150px;
    height: 50px;
    background-color: var(--color-redish);
    border-radius: 23px;
    border-radius: 23px;
}


.text__bottom {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 9px);
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    color: var(--color-white);
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;

}

.prices__table-inside {
    text-align: center;
}

.table__name {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    color: var(--color-black);
    font-weight: bold;
    margin-top: 40px;
}

.table__price {
    font-size: 46px;
    font-family: 'Open Sans', sans-serif;
    color: var(--color-redish);
    font-weight: lighter;
    padding-bottom: 50px;
}

.table_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    padding-top: 30px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: var(--color-black);

}

.tables__middle {
    position: relative;
    width: 405px;
    height: 500px;
    border: 1px solid var(--color-primary);
    border-radius: 18px;
    box-shadow: 5px 10px 27px #07ACE629;
}

.tables__middle::before {
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translate(-50%, 0);
    content: "";
    width: 150px;
    height: 50px;
    background-color: var(--color-primary);
    border-radius: 23px;
    border-radius: 23px;
    box-shadow: 5px 10px 14px #07ACE629;
}

.tables__right {
    position: relative;
    border: 1px solid var(--color-green);
    border-radius: 18px;
}

.tables__right::before {
    background-color: var(--color-green);
}

/* -----FORM----- */

.formall__container {
    border: 2px solid black;
    width: 896px;
    margin: 0 auto;
}

.contact {
    width: 342px;

    height: 600px;
}

.contact__question {
    font-size: 49px;
    font-family: 'Raleway', sans-serif;
    color: var(--color-black);
    margin-bottom: 15px;
}

.contact__info {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: var(--color-black);
    font-weight: light;
    margin-bottom: 30px;
}

.contact__email {
    position: relative;
    display: inline;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: var(--color-grey);
    text-decoration: none;
    padding-left: 30px;
}

.contact__email::before {
    position: absolute;
    top: 0;
    left: 0;
    content: url(../images/mail\ _icon.svg);
}

.contact__number {
    position: relative;
    display: inline;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: var(--color-grey);
    padding-left: 30px;
    margin-left: 10px;
}

.contact__number::before {
    position: absolute;
    top: 0;
    left: 0;
    height: 27px;
    width: 27px;
    content: url(../images/phone_icon.svg);
}